asgiref
astroid
certifi
chardet
defusedxml
Django
django-allauth
django-crispy-forms
idna
isort
lazy-object-proxy
mccabe
oauthlib
Pillow
pylint
pylint-django
pylint-plugin-utils
python3-openid
pytz
requests
requests-oauthlib
six
sqlparse
stripe
toml
urllib3
wrapt